@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply m-0 p-0 font-inter scroll-smooth;
	}

	body {
		--sb-track-color: #ffffff;
		--sb-thumb-color: #a59d84;
		--sb-size: 9px;
		@apply overflow-x-hidden relative;
	}

	body::-webkit-scrollbar {
		width: var(--sb-size);
	}

	body::-webkit-scrollbar-track {
		background: var(--sb-track-color);
		border-radius: 3px;
	}

	body::-webkit-scrollbar-thumb {
		background: var(--sb-thumb-color);
		border-radius: 3px;
	}

	@supports not selector(::-webkit-scrollbar) {
		body {
			scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
		}
	}
}
